body {
    background-color: #55aaff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.green-box { background-color: #99cc66; }
.blue-box { background-color: #33bbdd; }
.white-box { background-color: #dddddd; } 

.header, .content-item, .footer-item {
    min-height: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.header {
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.footer-item {
    min-height: 50px;
    margin-bottom: 0;
}

@media (min-width: 720px) {
    
    .content-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 20px;
    }
    .content-item:nth-child(1) { grid-column: auto; grid-row: auto; }
    .content-item:nth-child(2) { grid-column: auto; grid-row: auto; }
    .content-item:nth-child(3) { grid-column: auto; grid-row: auto; }
    
    
    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    
    .footer-item {
        margin-bottom: 0;
    }
}
