body {
    background-color: #55aaff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.green-box { background-color: #99cc66; }
.blue-box { background-color: #33bbdd; }
.white-box { background-color: #eeeeee; }

.header, .content-item, .footer-item {
    min-height: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}
.header {
    margin-bottom: 20px;
}


.content-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.footer-item {
    flex: 1 1 calc(33.333% - 10px); 
    min-height: 50px;
}


@media (min-width: 720px) {
    
    .content-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 20px;
        grid-auto-rows: minmax(80px, auto);
    }
    
    .content-item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .content-item:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .content-item:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    .content-item:nth-child(4) {
        grid-column: 1 / 4; 
        grid-row: 2 / 3;
    }


    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .footer-item {
        margin-bottom: 0;
    }
}
